{%extends 'base.html'%}
{% load static  %}
{% block head%}
  <meta charset="UTF-8">
  <title>Real Estate Form</title>
  <link rel="stylesheet" href="{%static 'css/style.css' %}">
  <link rel="stylesheet" href="{%static 'css/form.css' %}">
    {% endblock%}
    {% block content%}
  <div class="container">
    <h1>Real Estate Form</h1>
    <form method="post">
        {% csrf_token %}
      <div class="form-group">
        <label for="area">Carpet Area:</label>
        <input type="text" name="area" required>
      </div>
      <div class="form-group">
        <label for="city">City:</label>
        <input type="text" name="city" required>
      </div>
       
        <div class="form-group">
        <label for="latitude">Latitude:</label>
        <input type="text" name="latitude" required>
      </div>
      <div class="form-group">
        <label for="longitude">Longitude:</label>
        <input type="text" name="longitude" required>
      </div>
        <div class="form-group">
        <label for="description">Description:</label>
        <input type="text" name="description" required>
      </div>
      <div class="form-group">
        <label for="location">Address:</label>
        <input type="text" name="location" required>
      </div>
      <div class="form-group">
        <label for="bedrooms">No. of Bedrooms:</label>
        <select name="bedrooms" required>
          <option value=""></option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </div>
      <div class="form-group">
        <label for="resale">Resale:</label>
        <input type="radio" name="resale" name="resale" value="True" required> Yes
        <input type="radio" name="resale" name="resale" value="False" required> No
      </div>
      <div class="form-group">
        <label for="amenities">Amenities:</label>
        </div>
        <div class="form-group">
            <button type="submit">Submit</button>
       </div>

        <input type="checkbox" name="maintenance-staff" value="True"> Maintenance Staff
        <input type="checkbox" name="gymnasium" value="True"> Gymnasium
        <input type="checkbox" name="swimming-pool" value="True"> Swimming Pool
        <input type="checkbox" name="landscaped-gardens" value="True"> Landscaped Gardens
        <input type="checkbox" name="jogging-track" value="True"> Jogging Track
        <input type="checkbox" name="rain-water-harvesting" value="True"> Rain Water Harvesting
        <input type="checkbox" name="indoor-games" value="True"> Indoor Games
        <input type="checkbox" name="shopping-mall" value="True"> Shopping Mall
        <input type="checkbox" name="intercom" value="True"> Intercom
        <input type="checkbox" name="sports-facility" value="True"> Sports Facility
        <input type="checkbox" name="atm" value="True"> ATM
        <input type="checkbox" name="club-house" value="True"> Club House
        <input type="checkbox" name="school" value="True"> School
        <input type="checkbox" name="security-24x7" value="True"> 24X7 Security
        <input type="checkbox" name="power-backup" value="True"> Power Backup
        <input type="checkbox" name="car-parking" value="True"> Car Parking
        <input type="checkbox" name="staff-quarter" value="True"> Staff Quarter
        <input type="checkbox" name="cafeteria" value="True"> Cafeteria
        <input type="checkbox" name="multipurpose-room" value="True"> Multipurpose Room
        <input type="checkbox" name="hospital" value="True"> Hospital
        <input type="checkbox" name="washing-machine" value="True"> Washing Machine
        <input type="checkbox" name="gas-connection" value="True"> Gas Connection
        <input type="checkbox" name="ac" value="True"> AC
        <input type="checkbox" name="wifi" value="True"> WiFi
        <input type="checkbox" name="childrens-playarea" value="True"> Children's play area
        <input type="checkbox" name="lift-available" value="True"> Lift Available
        <input type="checkbox" name="bed" value="True"> BED
        <input type="checkbox" name="vaastu-compliant" value="True"> Vaastu Compliant
        <input type="checkbox" name="microwave" value="True"> Microwave
        <input type="checkbox" name="golf-course" value="True"> Golf Course
        <input type="checkbox" name="tv" value="True"> TV
        <input type="checkbox" name="dining-table" value="True"> Dining Table
        <input type="checkbox" name="sofa" value="True"> Sofa
        <input type="checkbox" name="wardrobe" value="True"> Wardrobe
        <input type="checkbox" name="refrigerator" value="True"> Refrigerator


        </form>

          </div>
          <script src="{%static 'js/script.js' %}"></script>
{% endblock%}
