{%extends 'base.html'%}
{% load static  %}
{% block head%}
    <meta property="og:title" content="Traveler template" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Karla;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }
    </style>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&amp;display=swap"
      data-tag="font"
    />
    <!--This is the head section-->
    <!-- <style> ... </style> -->
    <link rel="stylesheet" type="text/css" href="{%static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{%static 'css/property.css' %}">
    <link rel="stylesheet" type="text/css" href="{%static 'css/home.css' %}">
    <script type="text/javascript" src="https://unpkg.com/dangerous-html@0.1.12/dist/default/lib.umd.js"></script>
    {% endblock%}
    {% block content%}
    <div>
      
      

      <div class="home-container">
        <section class="home-hero">
          <div class="home-main">
            <div class="home-video"><div class="home-tint"></div></div>
            <div class="home-content">
              <div class="home-center">
                <h1 class="home-header">Explore Properties Worldwide</h1>
                <div class="home-heading">
                  <p class="home-caption">
                    Real Estate Trading Made Easy :&nbsp;Unlock Your Property
                    Trading Potential with Our Innovative Platform
                  </p>
                </div>
               <!--  <div class="home-border">
                  <div class="home-filter">
                    <img
                      alt="image"
                      src="public/playground_assets/location.svg"
                      class="home-image1"
                    />
                    <input
                      type="text"
                      placeholder="Destination"
                      class="home-textinput input"
                    />
                    <div class="home-search">
                      <img
                        alt="image"
                        src="public/playground_assets/search.svg"
                        class="home-icon10"
                      />
                    </div>
                  </div>
                </div> -->
              </div>
            </div>
          </div>
        </section>
        <section id="tours" class="home-quick-view">
            <div id="mypropertiescontainer" style="width: 100%;">
              <div class="flex property-container flex_column">
                  <span>Delhi</span>

                  <div class="property-slider flex" style="display: flex;">
                      {% for x in objs1 %}
                      <div class="property-card flex flex_column" onclick="location('#')">
                          <div class="property-image flex flex_center"> 
                              <img src="{%static 'img/property.jpg' %}" alt="">
                          </div>
                          <div class="details flex">
                              <div class="flex flex_column">
                                  <div class="location">{{x.location}}</div>
                                  <div class="bhk">{{x.No_of_Bedrooms}} BHK</div>
                              </div>
                              <a href="{% url 'prop' x.id %}" class="view_more more-details">see more</a>
                          </div>
                      </div>
                      {%endfor%}
                  </div>
              </div>

              <div class="flex property-container flex_column">
                  <span>Mumbai</span>

                  <div class="property-slider flex" style="display: flex;">
                      {% for x in objs2 %}
                      <div class="property-card flex flex_column" onclick="location('#')">
                          <div class="property-image">
                              <img src="{%static 'img/property.jpg' %}" alt="">
                          </div>
                          <div class="details flex">
                              <div class="flex flex_column">
                                  <div class="location">{{x.location}}</div>
                                  <div class="bhk">{{x.No_of_Bedrooms}} BHK</div>
                              </div>
                              <a href="{% url 'prop' x.id %}" class="view_more more-details">see more</a>
                          </div>
                      </div>
                      {%endfor%}
                  </div>
              </div>

              <div class="flex property-container flex_column">
                  <span>Banglore</span>

                  <div class="property-slider flex" style="display: flex;">
                      {% for x in objs3 %}
                      <div class="property-card flex flex_column" onclick="location('#')">
                          <div class="property-image">
                              <img src="{%static 'img/property.jpg' %}" alt="">
                          </div>
                          <div class="details flex">
                              <div class="flex flex_column">
                                  <div class="location">{{x.location}}</div>
                                  <div class="bhk">{{x.No_of_Bedrooms}} BHK</div>
                              </div>
                              <a href="{% url 'prop' x.id %}" class="view_more more-details">see more</a>
                          </div>
                      </div>
                      {%endfor%}
                  </div>
              </div>


          </div>
         
        </section>
        <section class="home-faq">
          <div id="faqs" class="home-content1">
            <div class="home-heading2">
              <h2 class="home-header2">FAQ</h2>
              <p class="home-caption3">
                commonly asked FAQ is answered below
              </p>
            </div>
            <div class="home-accordion">
              <div
                data-role="accordion-container"
                class="accordion home-element"
              >
                <div class="home-content2">
                  <span class="home-header3">What are the types of properties available on your site?              </span>
                  <span data-role="accordion-content" class="home-description">We offer a wide variety of properties on our site, including apartments, houses, villas, commercial properties, and land.</span>
                </div>
                <div class="home-icon-container">
                  <svg
                    viewBox="0 0 1024 1024"
                    data-role="accordion-icon-closed"
                    class="home-icon15"
                  >
                    <path
                      d="M213.333 554.667h256v256c0 23.552 19.115 42.667 42.667 42.667s42.667-19.115 42.667-42.667v-256h256c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-256v-256c0-23.552-19.115-42.667-42.667-42.667s-42.667 19.115-42.667 42.667v256h-256c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
                    ></path></svg><svg
                    viewBox="0 0 1024 1024"
                    data-role="accordion-icon-open"
                    class="home-icon17"
                  >
                    <path
                      d="M213.333 554.667h597.333c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-597.333c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
                    ></path>
                  </svg>
                </div>
              </div>
              <div
              data-role="accordion-container"
              class="accordion home-element"
            >
              <div class="home-content2">
                <span class="home-header3">What are the fees for listing my property on your site?       </span>
                <span data-role="accordion-content" class="home-description">Listing a property is completely free as of now</span>
              </div>
              <div class="home-icon-container">
                <svg
                  viewBox="0 0 1024 1024"
                  data-role="accordion-icon-closed"
                  class="home-icon15"
                >
                  <path
                    d="M213.333 554.667h256v256c0 23.552 19.115 42.667 42.667 42.667s42.667-19.115 42.667-42.667v-256h256c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-256v-256c0-23.552-19.115-42.667-42.667-42.667s-42.667 19.115-42.667 42.667v256h-256c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
                  ></path></svg><svg
                  viewBox="0 0 1024 1024"
                  data-role="accordion-icon-open"
                  class="home-icon17"
                >
                  <path
                    d="M213.333 554.667h597.333c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-597.333c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
                  ></path>
                </svg>
              </div>
            </div>
            <div
            data-role="accordion-container"
            class="accordion home-element"
          >
            <div class="home-content2">
              <span class="home-header3">How do I list my property on your site?</span>
              <span data-role="accordion-content" class="home-description">You can list your property on our site by creating an account and filling out the necessary details on our "List Your Property" page. You can also upload photos and videos of your property to make it more attractive to potential buyers or renters.</span>
            </div>
            <div class="home-icon-container">
              <svg
                viewBox="0 0 1024 1024"
                data-role="accordion-icon-closed"
                class="home-icon15"
              >
                <path
                  d="M213.333 554.667h256v256c0 23.552 19.115 42.667 42.667 42.667s42.667-19.115 42.667-42.667v-256h256c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-256v-256c0-23.552-19.115-42.667-42.667-42.667s-42.667 19.115-42.667 42.667v256h-256c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
                ></path></svg><svg
                viewBox="0 0 1024 1024"
                data-role="accordion-icon-open"
                class="home-icon17"
              >
                <path
                  d="M213.333 554.667h597.333c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-597.333c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
                ></path>
              </svg>
            </div>
          </div>
          

            </div>
          </div>
        </section>
        <section id="find" class="home-find">
          <div class="home-heading3">
            <h2 class="home-header8">
              Buy, Sell, and Trade Real Estate with Confidence on Our Platform
            </h2>
          </div>
  
        </section>
        <section class="home-footer">
          <div class="home-content7">
            <div class="home-main2">
              <div class="home-branding">
                <div class="home-heading4">
                  <div class=logo><img id=logoimg src="{%static 'img/logo2.png' %}" alt="Unavailable"></div>
                  <p class="home-caption5">
                    Property trading website, made with love
                  </p>
                </div>
              </div>
              <div class="home-links1">
               
               
                <div class="home-items2">
                  <button class="home-link09 button button-clean">
                    FAQ
                  </button>
                  <button class="home-link11 button button-clean">
                    SIGN UP
                  </button>
              </div>
            </div>
            <span class="home-copyright">
             
            </span>
          </div>
        </section>
        <div>
          <dangerous-html
            html="<script>
 /*
  Accordion - Code Embed
  */
  const accordionContainers = document.querySelectorAll('[data-role='accordion-container']'); // All accordion containers
  const accordionContents = document.querySelectorAll('[data-role='accordion-content']'); // All accordion content
  const accordionIconsClosed = document.querySelectorAll('[data-role='accordion-icon-closed']'); // All accordion closed icons
  const accordionIconsOpen = document.querySelectorAll('[data-role='accordion-icon-open']'); // All accordion open icons

  accordionContents.forEach((accordionContent) => {
      accordionContent.style.display = 'none'; //Hides all accordion contents
  });

  accordionIconsClosed.forEach((icon) => {
    icon.style.display = 'flex'
  })

  accordionIconsOpen.forEach((icon) => {
    icon.style.display = 'none'
  })

  accordionContainers.forEach((accordionContainer, index) => {
      accordionContainer.addEventListener('click', () => {
          if (accordionContents[index].style.display === 'flex') {
              // If the accordion is already open, close it
              accordionContents[index].style.display = 'none';
              accordionIconsClosed[index].style.display = 'flex';
              accordionIconsOpen[index].style.display = 'none'
          } else {
              // If the accordion is closed, open it
              accordionContents.forEach((accordionContent) => {
                  accordionContent.style.display = 'none'; //Hides all accordion contents
              });

              accordionIconsClosed.forEach((accordionIcon) => {
                  accordionIcon.style.display = 'flex'; // Resets all icon transforms to 0deg (default)
              });

              accordionIconsOpen.forEach((accordionIcon) => {
                accordionIcon.style.display = 'none';
              })
              
              accordionContents[index].style.display = 'flex'; // Shows accordion content
              accordionIconsClosed[index].style.display = 'none'; // Rotates accordion icon 180deg
              accordionIconsOpen[index].style.display = 'flex';
          }
      });
  });
</script>
"
          ></dangerous-html>
        </div>
      </div>
    </div>
    <script
      data-section-id="navbar"
      src="https://unpkg.com/@teleporthq/teleport-custom-scripts"
    ></script>
  
{% endblock %}
