{%extends 'base.html'%}
{% load static  %}
{% block head%}

    <link rel="stylesheet" href="{%static 'css/index.css' %}">
    <link rel="stylesheet" href="{%static 'css/analysis.css' %}">
    <link rel="icon" type="image/png" href="img/favicon.png"/>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock%}
{% block content%}
{% for x in objs %}
<div class="flex property-analysis">
    <section class="left flex flex_column">
      <div class="comparisons flex flex_column">
        <h2>Details</h2>
        <div class="flex">
          <div class="property-details flex flex_column">
            <h2>Property Details</h2>
            <ul>
              <li><strong>Address:</strong> {{x.location}}</li>
              <li><strong>Price:</strong> {{price}} INR</li>
              <li><strong>Bedrooms:</strong> {{x.No_of_Bedrooms}}</li>
              <li><strong>Square Feet:</strong> {{x.area}}</li>
              <li><strong>Cordinates:</strong>( {{x.latitude}}, {{x.latitude}})</li>

            </ul>
          </div>

        </div>
        <h2>comparisons</h2>
        <table id="comparison-table">
            <tr>
                <td><h3>Return On Investment</h3></td>
                <td><div class="heatmap-container flex"> <div class="heatmap" data-value="{{roi}}"></div><div class="indicator"></div></div></td>
            </tr>
         </table>        
         <div class="owner-container flex flex_center">
         <div id="owner" class="card">
            <div id="owner-info" class="owner-info">
              <h2>Property Owner Details</h2>
              <p>Name: {{user}}</p>
              <p>Email: user@gmail.com</p>
              <p>Phone: 9426794730</p>
              <button>contact</button>
            </div>
          </div>
          </div>
    </div>
    </section>
    <section class="right flex flex_column">
      <div id="chart"></div>
        <div id="indexes" class="flex flex_column">
            <div class="index-container flex">
                <div class="index-color" style="background-color: red;"></div>
                <div class="index-text">predicted using housing price index</div>
            </div>
            <div class="index-container flex">
                <div class="index-color" style="background-color: green;"></div>
                <div class="index-text">predicted using Machine learning</div>
            </div>
            <div class="index-container flex">
                <div class="index-color" style="background-color: blue;"></div>
                <div class="index-text">predicted using Machine learning and hpi</div>
            </div>
        </div>

    </section>

</div>

    <script>
   var trace1 = {
  x: ['2017 Q1', '2017 Q2', '2018 Q1', '2018 Q2', '2019 Q1', '2019 Q2', '2020 Q1', '2020 Q2', '2021 Q1', '2021 Q2', '2022 Q1', '2022 Q2', '2023 Q1', '2023 Q2', '2024 Q1', '2024 Q2'],
  y: ["{{p1}}", "{{p2}}", "{{p3}}", "{{p4}}", "{{p5}}", "{{p6}}", "{{p7}}", "{{p8}}", "{{p9}}", "{{p10}}", "{{p11}}", "{{p12}}", "{{p13}}", "{{p14}}", "{{p15}}", "{{p16}}"],
  mode: 'lines+markers',
  type: 'scatter',
  name: 'Price',
  marker: {
    color: ['red', 'red', 'red', 'red', 'red', 'red', 'green', 'blue', 'blue', 'blue', 'blue', 'blue', 'blue', 'blue', 'blue', 'blue'],
    size: 8,
    line: {
      color: 'match',
      width: 1
    }
  },
  line: {
    shape: 'spline',
    smoothing: 1.3,
    color: 'rgb(0, 255, 255)',
    width: 2
  }
};


      var data = [trace1];

      var layout = {
        title: 'Property Analysis',
        xaxis: {
          title: 'Quarter',
          showgrid: true,
          zeroline: false
        },
        yaxis: {
          title: 'Price',
          showline: false
        },
        margin: {
          l: 60,
          r: 20,
          t: 40,
          b: 60
        }
      };

      Plotly.newPlot('chart', data, layout);
    </script>
    <script>
        // Loop through each heatmap element on the page
        var heatmaps = document.getElementsByClassName("heatmap");
        for (var i = 0; i < heatmaps.length; i++) {
          var heatmap = heatmaps[i];

          // Get the rating value from the "data-value" attribute
          var rating = parseInt(heatmap.getAttribute("data-value"));

          // Convert the rating to a percentage between 0 and 100
          var percentage = Math.round((rating - 1) / 9 * 100);

          // Set the width of the heatmap based on the percentage
          heatmap.style.width = percentage + "%";
        }
        document.getElementsByClassName('')
      </script>
{%endfor%}
{% endblock %}
