{%extends 'base.html'%}
{% load static  %}
{% block head%}

    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{%static 'css/index.css' %}">
    <link rel="stylesheet" type="text/css" href="{%static 'css/sidebar.css' %}">
    <link rel="stylesheet" type="text/css" href="{%static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{%static 'css/property.css' %}">
    <script src="{%static 'js/jquery-3.6.0.js' %}"></script>
    
    <script src="{%static 'js/index.js' %}"></script>
    <script src="{%static 'js/js2.js' %}"></script>
    <!-- fontawesomeIcons -->
    <link rel="stylesheet" href="{%static 'css/all.min.css' %}">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="ISO-8859-1">
{% endblock%}
{% block content%}


            <section class="editor flex flex_column">
                <div id="mypropertiescontainer">
                    <div class="flex property-container flex_column">
                        <span>Delhi</span> 
                        <div class="property-slider flex">
                            <div class="property-card flex flex_column">
                                <div class="property-image"> 
                                    <img src="{%static 'img/property.jpg' %}" alt="">
                                </div>
                                <div class="details flex">
                                    <div class="flex flex_column">
                                        <div class="location">Sector 10 Dwarka</div>
                                        <div class="bhk">2 BHK</div>
                                    </div>
                                    <a href="#" class="view_more more-details">see more</a>
                                    
                                </div>
                            </div>
                            <div class="property-card flex flex_column">
                                <div class="property-image"> 
                                    <img src="{%static 'img/property.jpg' %}" alt="">
                                </div>
                                <div class="details flex">
                                    <div class="flex flex_column">
                                        <div class="location">Sector 10 Dwarka</div>
                                        <div class="bhk">2 BHK</div>
                                    </div>
                                    <a href="#" class="view_more more-details">see more</a>
                                    
                                </div>
                            </div>
                            <div class="property-card flex flex_column">
                                <div class="property-image"> 
                                    <img src="{%static 'img/property.jpg' %}" alt="">
                                </div>
                                <div class="details flex">
                                    <div class="flex flex_column">
                                        <div class="location">Sector 10 Dwarka</div>
                                        <div class="bhk">2 BHK</div>
                                    </div>
                                    <a href="#" class="view_more more-details">see more</a>
                                    
                                </div>
                            </div>
                            <div class="property-card flex flex_column">
                                <div class="property-image"> 
                                    <img src="{%static 'img/property.jpg' %}" alt="">
                                </div>
                                <div class="details flex">
                                    <div class="flex flex_column">
                                        <div class="location">Sector 10 Dwarka</div>
                                        <div class="bhk">2 BHK</div>
                                    </div>
                                    <a href="#" class="view_more more-details">see more</a>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex property-container flex_column">
                        <span>Delhi</span> 
                        <div class="property-slider flex">
                            <div class="property-card flex flex_column">
                                <div class="property-image"> 
                                    <img src="{%static 'img/property.jpg' %}" alt="">
                                </div>
                                <div class="details flex">
                                    <div class="flex flex_column">
                                        <div class="location">Sector 10 Dwarka</div>
                                        <div class="bhk">2 BHK</div>
                                    </div>
                                    <a href="#" class="view_more more-details">see more</a>
                                    
                                </div>
                            </div>
                            <div class="property-card flex flex_column">
                                <div class="property-image"> 
                                    <img src="{%static 'img/property.jpg' %}" alt="">
                                </div>
                                <div class="details flex">
                                    <div class="flex flex_column">
                                        <div class="location">Sector 10 Dwarka</div>
                                        <div class="bhk">2 BHK</div>
                                    </div>
                                    <a href="#" class="view_more more-details">see more</a>
                                    
                                </div>
                            </div>
                            <div class="property-card flex flex_column">
                                <div class="property-image"> 
                                    <img src="{%static 'img/property.jpg' %}" alt="">
                                </div>
                                <div class="details flex">
                                    <div class="flex flex_column">
                                        <div class="location">Sector 10 Dwarka</div>
                                        <div class="bhk">2 BHK</div>
                                    </div>
                                    <a href="#" class="view_more more-details">see more</a>
                                    
                                </div>
                            </div>
                            <div class="property-card flex flex_column">
                                <div class="property-image"> 
                                    <img src="{%static 'img/property.jpg' %}" alt="">
                                </div>
                                <div class="details flex">
                                    <div class="flex flex_column">
                                        <div class="location">Sector 10 Dwarka</div>
                                        <div class="bhk">2 BHK</div>
                                    </div>
                                    <a href="#" class="view_more more-details">see more</a>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex property-container flex_column">
                        <span>Delhi</span> 
                        <div class="property-slider flex">
                            <div class="property-card flex flex_column">
                                <div class="property-image"> 
                                    <img src="{%static 'img/property.jpg' %}" alt="">
                                </div>
                                <div class="details flex">
                                    <div class="flex flex_column">
                                        <div class="location">Sector 10 Dwarka</div>
                                        <div class="bhk">2 BHK</div>
                                    </div>
                                    <a href="#" class="view_more more-details">see more</a>
                                    
                                </div>
                            </div>
                            <div class="property-card flex flex_column">
                                <div class="property-image"> 
                                    <img src="{%static 'img/property.jpg' %}" alt="">
                                </div>
                                <div class="details flex">
                                    <div class="flex flex_column">
                                        <div class="location">Sector 10 Dwarka</div>
                                        <div class="bhk">2 BHK</div>
                                    </div>
                                    <a href="#" class="view_more more-details">see more</a>
                                    
                                </div>
                            </div>
                            <div class="property-card flex flex_column">
                                <div class="property-image"> 
                                    <img src="{%static 'img/property.jpg' %}" alt="">
                                </div>
                                <div class="details flex">
                                    <div class="flex flex_column">
                                        <div class="location">Sector 10 Dwarka</div>
                                        <div class="bhk">2 BHK</div>
                                    </div>
                                    <a href="#" class="view_more more-details">see more</a>
                                    
                                </div>
                            </div>
                            <div class="property-card flex flex_column">
                                <div class="property-image"> 
                                    <img src="{%static 'img/property.jpg' %}" alt="">
                                </div>
                                <div class="details flex">
                                    <div class="flex flex_column">
                                        <div class="location">Sector 10 Dwarka</div>
                                        <div class="bhk">2 BHK</div>
                                    </div>
                                    <a href="#" class="view_more more-details">see more</a>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

    </div>
    <div class="popup flex">
        <div class="flex" style="justify-content: space-between;">
        <h2>Property Details</h2>
        <div class="property-right">
            <a href="#" class="close-popup">Close</a>
        </div>
        </div>

        <div class="flex">
            <div class="property-left flex flex_column">
                <img src="{%static 'img/property.jpg' %}" alt="">
                <h2 class="location" style="text-align: center;">Dwarika</h2>
                <div class="flex" style="justify-content: space-evenly;">
                    <h4 class="bhk">2bhk</h4>
                    <h4 class="Area">Area no. 1000</h4>
                </div>
                
            </div>
            <div class="property-right flex flex_column">
                <h5>
                    Available
                </h5>
                <ul>
                    <li>gymnasium</li>
                    <li>microwave</li>

                </ul>
                <h5>
                    Unavailable
                </h5>
                <ul>
                    <li>carparking</li>
                    <li>ATM</li>
                    
                </ul>
                <a href="property.html"><button>Get Property Analysis</button></a>
            </div>
        </div>
      </div>
</body>
<script>
    $(document).ready(function() {
  $('.property-card').click(function() {
    $('.popup').show();
  });
  
  $('.close-popup').click(function() {
    $('.popup').hide();
  });
  $('nav').click(function() {
    $('.popup').hide();
  });
});

</script>
<!-- <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> -->

{% endblock %}
